<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homework69</title>
</head>
<body>
<h1 style="text-align: center">Math actions</h1>
<br>
<div style="text-align: center">
    <input id="firstnum" type="text" placeholder="Enter first number">
    <br>
    <br>
    <input id="secondnum" type="text" placeholder="Enter second number">
</div>
<br>
<div style="text-align: center">
    <button><a href="{% url 'webapp:add' %}" id="add" class="btn"
               data-action="add">add</a></button>
    <br>
    <button><a href="{% url 'webapp:subtract' %}" id="subtract" class="btn"
               data-action="subtract">subtract</a></button>
    <br>
    <button><a href="{% url 'webapp:multiply' %}" id="multiply" class="btn"
               data-action="multiply">multiply</a></button>
    <br>
    <button><a href="{% url 'webapp:divide' %}" id="divide" class="btn"
               data-action="divide">divide</a></button>
    <br>
</div>
<br>
<div style="text-align: center"><h3>Result:</h3>
    <p style="text-align: center" id="result">Answer</p>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    async function getResult(event) {
        event.preventDefault()
        let url = await event.target.href
        let firstnum = document.getElementById('firstnum')
        let secondnum = document.getElementById('secondnum')
        let a = firstnum.value
        let b = secondnum.value
        console.log(a, b)
        let body = {
            "a": a,
            "b": b
        }
        let response = await makeRequest(url, body)

        let p = document.getElementById('result')
        p.style = 'color:green'
        p.innerText = response.answer
    }

    let btnList = document.getElementsByClassName('btn')
    for (let i = 0; i < btnList.length; i++)
        btnList[i].addEventListener('click', () => getResult(event))

    async function makeRequest(url, body) {
        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(body),
            mode: 'same-origin'
        });

        if (response.ok) {
            return await response.json();
        } else {
            let p = document.getElementById('result')
            p.style = 'color:red'
            let error = await response.json()
            p.innerText = error.error
            console.log(await response.json())
        }
    }
</script>

</body>
</html>